<form action="/login" method="post">
  <p><input type="email" name="login[email]" placeholder="Email"></p>
  <p><input type="password" name="login[password]" placeholder="Password"></p>
  <button type="submit" >Login</button>
</form>

<br>OR<br>

<form action="/signup" method="post">
  <p><input type="text" name="signup[name]" placeholder="Name"></p>
  <p><input type="email" name="signup[email]" placeholder="Email"></p>
  <p><input type="password" name="signup[password]" placeholder="Password"></p>
  <button type="submit" >Signup</button>
</form>
