<form action="/submit" method="post">
  <p><input type="text" name="submit[title]" placeholder="title"></p>
  <p><textarea cols="50" rows="5" name="submit[body]" placeholder="text"></textarea></p>
  <button type="submit">submit</button>
</form>
